In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import math
import warnings
warnings.filterwarnings("ignore")
import statsmodels.formula.api as smf

In [2]:
# colnames = ['day','order_id','item_det_info','pay_timestamp','buyer_id','promise_speed','if_cainiao','merchant_id','Logistics_review_score']
data = pd.read_csv("../replication/mic_bin.csv").drop(columns = ['Unnamed: 0','level_0']).rename(columns = {'fraction':'action_time','Days':'day_count'})
data.head()

,order_id,order_date,logistic_order_id,action,facility_id,facility_type,city_id,logistic_company_id,timestamp,day,...,facility_count,week,day_values,day_of_week,recieve_count,arrive_count,depart_count,scan_count,consign_count,post_action_time
0,100534527,20170115,53756568.0,CONSIGN,NaN,NaN,NaN,532.0,2017-01-16 08:49:00,20170115,...,1.0,3.0,15.0,1.0,1.0,2.0,1.0,0.0,1.0,0.409264
1,100534527,20170115,53756568.0,SIGNED,112694.0,NaN,NaN,532.0,2017-01-19 16:51:00,20170115,...,1.0,3.0,15.0,1.0,1.0,2.0,1.0,0.0,1.0,0.409264
2,100534527,20170115,53756568.0,GOT,NaN,NaN,NaN,532.0,2017-01-16 18:00:00,20170115,...,1.0,3.0,15.0,1.0,1.0,2.0,1.0,0.0,1.0,0.409264
3,100534527,20170115,53756568.0,DEPARTURE,NaN,NaN,NaN,532.0,2017-01-17 06:54:00,20170115,...,1.0,3.0,15.0,1.0,1.0,2.0,1.0,0.0,1.0,0.409264
4,100534527,20170115,53756568.0,ARRIVAL,NaN,NaN,NaN,532.0,2017-01-17 06:25:00,20170115,...,1.0,3.0,15.0,1.0,1.0,2.0,1.0,0.0,1.0,0.409264

In [3]:
data.columns

Index(['order_id', 'order_date', 'logistic_order_id', 'action', 'facility_id',
       'facility_type', 'city_id', 'logistic_company_id', 'timestamp', 'day',
       'item_det_info', 'pay_timestamp', 'buyer_id', 'promise_speed',
       'if_cainiao', 'merchant_id', 'Logistics_review_score', 'min', 'max',
       'action_time', 'day_count', 'avg_action_time', 'action_count',
       'facility_count', 'week', 'day_values', 'day_of_week', 'recieve_count',
       'arrive_count', 'depart_count', 'scan_count', 'consign_count',
       'post_action_time'],
      dtype='object')

# day of week

In [4]:
df = data[['order_id','order_date','action','action_time','timestamp','logistic_company_id','day_count','avg_action_time','Logistics_review_score']]
df.head(10)

,order_id,order_date,action,action_time,timestamp,logistic_company_id,day_count,avg_action_time,Logistics_review_score
0,100534527,20170115,CONSIGN,0.127702,2017-01-16 08:49:00,532.0,4,0.307430,5.0
1,100534527,20170115,SIGNED,1.000000,2017-01-19 16:51:00,532.0,4,0.307430,5.0
2,100534527,20170115,GOT,0.227793,2017-01-16 18:00:00,532.0,4,0.307430,5.0
3,100534527,20170115,DEPARTURE,0.368392,2017-01-17 06:54:00,532.0,4,0.307430,5.0
4,100534527,20170115,ARRIVAL,0.363124,2017-01-17 06:25:00,532.0,4,0.307430,5.0
5,100534527,20170115,ARRIVAL,0.450136,2017-01-17 14:24:00,532.0,4,0.307430,5.0
6,100534527,20170115,order,0.000000,2017-01-15 21:06:00,NaN,4,0.307430,5.0
7,60175737,20170109,SIGNED,1.000000,2017-01-11 14:33:00,247.0,2,0.633054,5.0
8,60175737,20170109,ARRIVAL,0.862603,2017-01-11 07:18:00,247.0,2,0.633054,5.0
9,60175737,20170109,SENT_SCAN,0.965572,2017-01-11 12:44:00,247.0,2,0.633054,5.0

In [5]:
# start day of week
# Monday: 0
df_start = df.query('action == "CONSIGN"')
df_start['start_day'] = pd.to_datetime(df_start.order_date, format='%Y%m%d').dt.dayofweek
df_start.head()

,order_id,order_date,action,action_time,timestamp,logistic_company_id,day_count,avg_action_time,Logistics_review_score,start_day
0,100534527,20170115,CONSIGN,0.127702,2017-01-16 08:49:00,532.0,4,0.307430,5.0,6
11,60175737,20170109,CONSIGN,0.078016,2017-01-09 13:54:00,247.0,2,0.633054,5.0,0
22,34518067,20170122,CONSIGN,0.087702,2017-01-22 14:17:00,273.0,1,0.499853,5.0,6
29,111264400,20170102,CONSIGN,0.192362,2017-01-02 11:31:00,247.0,2,0.428563,5.0,0
37,9815812,20170103,CONSIGN,0.030843,2017-01-03 19:29:00,273.0,2,0.293557,5.0,1

In [6]:
df_start.start_day.value_counts()

6    4330
1    3928
0    3912
2    3644
3    3590
4    3255
5    3017
Name: start_day, dtype: int64

# Regression on avg_action_time(x) Logistics_review_score(y)
## dummy variable: day of week

In [7]:
# Import the library that contains all the functions/modules related to the regression model
import statsmodels.api as sm

# Choose the features to be used
cols = ['start_day']
X_train = df_start[cols]
y_train = df_start['avg_action_time']

X_train = pd.get_dummies(X_train, columns=['start_day'])
# X_train = sm.add_constant(X_train)

# fit the data to the model
model = sm.OLS(y_train, X_train).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        avg_action_time   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     3.417
Date:                Sat, 20 Nov 2021   Prob (F-statistic):            0.00226
Time:                        09:58:25   Log-Likelihood:                 16119.
No. Observations:               25676   AIC:                        -3.222e+04
Df Residuals:                   25669   BIC:                        -3.217e+04
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
start_day_0     0.4968      0.002    240.536      0.000       0.493       0.501
start_day_1     0.4920      0.002    238.723      0.000       0.488       0.496
start_day_2     0.4883      0.002    228.185      0.000       0.484       0.492
start_day_3     0.4922      0.002    228.291      0.000       0.488       0.496
start_day_4     0.4877      0.002    215.391      0.000       0.483       0.492
start_day_5     0.4920      0.002    209.192      0.000       0.487       0.497
start_day_6     0.4980      0.002    253.663      0.000       0.494       0.502
==============================================================================
Omnibus:                       16.244   Durbin-Watson:                   1.740
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               15.543
Skew:                           0.040   Prob(JB):                     0.000422
Kurtosis:                       2.910   Cond. No.                         1.20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
X_train

,start_day_0,start_day_1,start_day_2,start_day_3,start_day_4,start_day_5,start_day_6
0,0,0,0,0,0,0,1
11,1,0,0,0,0,0,0
22,0,0,0,0,0,0,1
29,1,0,0,0,0,0,0
37,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...
212307,0,0,1,0,0,0,0
212312,0,0,0,0,1,0,0
212323,0,0,0,0,0,0,1
212330,1,0,0,0,0,0,0
212337,0,0,0,1,0,0,0

In [9]:
y_train

0         0.307430
11        0.633054
22        0.499853
29        0.428563
37        0.293557
            ...
212307    0.574117
212312    0.532375
212323    0.445255
212330    0.506725
212337    0.502098
Name: avg_action_time, Length: 25676, dtype: float64

In [10]:
# Import the library that contains all the functions/modules related to the regression model
import statsmodels.api as sm

# Choose the features to be used
cols = ['start_day', 'avg_action_time']
X_train = df_start[cols]
y_train = df_start['Logistics_review_score']

X_train = pd.get_dummies(X_train, columns=['start_day'])
# X_train = sm.add_constant(X_train)

# fit the data to the model
model = sm.OLS(y_train, X_train).fit()

print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Logistics_review_score   R-squared:                       0.001
Model:                                OLS   Adj. R-squared:                  0.001
Method:                     Least Squares   F-statistic:                     4.872
Date:                    Sat, 20 Nov 2021   Prob (F-statistic):           1.66e-05
Time:                            09:58:30   Log-Likelihood:                -23846.
No. Observations:                   25676   AIC:                         4.771e+04
Df Residuals:                       25668   BIC:                         4.777e+04
Df Model:                               7
Covariance Type:                nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
avg_action_time     0.1611      0.030      5.443      0.000       0.103       0.219
start_day_0         4.7554      0.018    269.159      0.000       4.721       4.790
start_day_1         4.7695      0.018    271.930      0.000       4.735       4.804
start_day_2         4.7641      0.018    269.770      0.000       4.729       4.799
start_day_3         4.7516      0.018    266.980      0.000       4.717       4.787
start_day_4         4.7583      0.018    264.493      0.000       4.723       4.794
start_day_5         4.7746      0.018    260.308      0.000       4.739       4.811
start_day_6         4.7505      0.017    272.500      0.000       4.716       4.785
==============================================================================
Omnibus:                    23794.396   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           688038.259
Skew:                          -4.691   Prob(JB):                         0.00
Kurtosis:                      26.561   Cond. No.                         8.15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
X_train

,avg_action_time,start_day_0,start_day_1,start_day_2,start_day_3,start_day_4,start_day_5,start_day_6
0,0.307430,0,0,0,0,0,0,1
11,0.633054,1,0,0,0,0,0,0
22,0.499853,0,0,0,0,0,0,1
29,0.428563,1,0,0,0,0,0,0
37,0.293557,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
212307,0.574117,0,0,1,0,0,0,0
212312,0.532375,0,0,0,0,1,0,0
212323,0.445255,0,0,0,0,0,0,1
212330,0.506725,1,0,0,0,0,0,0
212337,0.502098,0,0,0,1,0,0,0

## dummy variable: day_count

In [13]:
# Import the library that contains all the functions/modules related to the regression model
import statsmodels.api as sm

# Choose the features to be used
cols = ['day_count', 'avg_action_time']
X_train = df_start[cols]
y_train = df_start['Logistics_review_score']

X_train = pd.get_dummies(X_train, columns=['day_count'])
# X_train = sm.add_constant(X_train)

# fit the data to the model
model = sm.OLS(y_train, X_train).fit()

print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Logistics_review_score   R-squared:                       0.015
Model:                                OLS   Adj. R-squared:                  0.014
Method:                     Least Squares   F-statistic:                     34.43
Date:                    Sat, 20 Nov 2021   Prob (F-statistic):           7.53e-74
Time:                            09:58:41   Log-Likelihood:                -23675.
No. Observations:                   25676   AIC:                         4.737e+04
Df Residuals:                       25664   BIC:                         4.747e+04
Df Model:                              11
Covariance Type:                nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
avg_action_time     0.1260      0.030      4.241      0.000       0.068       0.184
day_count_0         4.8406      0.029    167.138      0.000       4.784       4.897
day_count_1         4.8195      0.016    309.968      0.000       4.789       4.850
day_count_2         4.7849      0.016    290.354      0.000       4.753       4.817
day_count_3         4.7328      0.018    268.354      0.000       4.698       4.767
day_count_4         4.6589      0.023    206.997      0.000       4.615       4.703
day_count_5         4.5646      0.032    142.714      0.000       4.502       4.627
day_count_6         4.4035      0.045     96.978      0.000       4.315       4.493
day_count_7         4.3620      0.062     70.498      0.000       4.241       4.483
day_count_8         4.7163      0.101     46.556      0.000       4.518       4.915
day_count_9         3.9057      0.120     32.528      0.000       3.670       4.141
day_count_10        4.5978      0.144     31.850      0.000       4.315       4.881
==============================================================================
Omnibus:                    23490.516   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           661368.541
Skew:                          -4.605   Prob(JB):                         0.00
Kurtosis:                      26.095   Cond. No.                         29.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## dummy variable: day of week, day_count

In [14]:
# Import the library that contains all the functions/modules related to the regression model
import statsmodels.api as sm

# Choose the features to be used
cols = ['start_day', 'day_count', 'avg_action_time']
X_train = df_start[cols]
y_train = df_start['Logistics_review_score']

X_train = pd.get_dummies(X_train, columns=['start_day', 'day_count'])
# X_train = sm.add_constant(X_train)

# fit the data to the model
model = sm.OLS(y_train, X_train).fit()

print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Logistics_review_score   R-squared:                       0.015
Model:                                OLS   Adj. R-squared:                  0.014
Method:                     Least Squares   F-statistic:                     22.53
Date:                    Sat, 20 Nov 2021   Prob (F-statistic):           2.49e-70
Time:                            09:58:46   Log-Likelihood:                -23672.
No. Observations:                   25676   AIC:                         4.738e+04
Df Residuals:                       25658   BIC:                         4.753e+04
Df Model:                              17
Covariance Type:                nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
avg_action_time     0.1267      0.030      4.261      0.000       0.068       0.185
start_day_0         2.7918      0.018    154.957      0.000       2.757       2.827
start_day_1         2.8113      0.018    157.246      0.000       2.776       2.846
start_day_2         2.8023      0.018    155.675      0.000       2.767       2.838
start_day_3         2.7904      0.018    154.557      0.000       2.755       2.826
start_day_4         2.7949      0.018    152.531      0.000       2.759       2.831
start_day_5         2.8095      0.019    151.411      0.000       2.773       2.846
start_day_6         2.7941      0.018    157.662      0.000       2.759       2.829
day_count_0         2.0414      0.027     75.246      0.000       1.988       2.095
day_count_1         2.0203      0.015    134.949      0.000       1.991       2.050
day_count_2         1.9855      0.015    128.528      0.000       1.955       2.016
day_count_3         1.9336      0.017    115.343      0.000       1.901       1.966
day_count_4         1.8601      0.022     85.298      0.000       1.817       1.903
day_count_5         1.7656      0.031     57.633      0.000       1.706       1.826
day_count_6         1.6035      0.043     37.177      0.000       1.519       1.688
day_count_7         1.5634      0.058     26.741      0.000       1.449       1.678
day_count_8         1.9180      0.095     20.094      0.000       1.731       2.105
day_count_9         1.1041      0.113      9.740      0.000       0.882       1.326
day_count_10        1.7990      0.136     13.222      0.000       1.532       2.066
==============================================================================
Omnibus:                    23489.142   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           661300.050
Skew:                          -4.605   Prob(JB):                         0.00
Kurtosis:                      26.093   Cond. No.                     2.48e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.03e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## Consign action time

Warehouse-to-shipper consignment is always the first action to follow the customer’s order, so delaying this consignment delays all subsequent actions. But this consignment happens before the shipment, so the consignment time should not directly affect the shipment quality (conditional on the final delivery time).

In [15]:
# Import the library that contains all the functions/modules related to the regression model
import statsmodels.api as sm

# Choose the features to be used
cols = ['action_time', 'avg_action_time']
X_train = df_start[cols]
y_train = df_start['Logistics_review_score']

# X_train = pd.get_dummies(X_train, columns=['start_day'])
X_train = sm.add_constant(X_train)

# fit the data to the model
model = sm.OLS(y_train, X_train).fit()

print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Logistics_review_score   R-squared:                       0.001
Model:                                OLS   Adj. R-squared:                  0.001
Method:                     Least Squares   F-statistic:                     17.19
Date:                    Sat, 20 Nov 2021   Prob (F-statistic):           3.46e-08
Time:                            09:58:49   Log-Likelihood:                -23845.
No. Observations:                   25676   AIC:                         4.770e+04
Df Residuals:                       25673   BIC:                         4.772e+04
Df Model:                               2
Covariance Type:                nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               4.7399      0.018    268.821      0.000       4.705       4.774
action_time        -0.0892      0.040     -2.246      0.025      -0.167      -0.011
avg_action_time     0.2306      0.043      5.351      0.000       0.146       0.315
==============================================================================
Omnibus:                    23790.194   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           687550.423
Skew:                          -4.690   Prob(JB):                         0.00
Kurtosis:                      26.552   Cond. No.                         16.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.